{{#each patterns as |pattern|}}
  {{log pattern}}
  <!-- {{> partial}} -->

  <tr data-id="{{pattern.id}}"
    data-date="{{pattern.date}}"
    data-project_name="{{pattern.project_name}}"
    data-task="{{pattern.task}}"
    data-time_spent="{{pattern.time_spent}}"
    data-notes="{{pattern.notes}}"
    data-toggle="modal" data-target="#modifyPatternModal">
    <td class="date-td">
      {{#if pattern.date}}
        {{pattern.date}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="project-name-td">
      {{#if pattern.project_name}}
        {{pattern.project_name}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="task-td">
      {{#if pattern.task}}
        {{pattern.task}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="time-spent-td">
      {{#if pattern.time_spent}}
        {{pattern.time_spent}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="notes-td">
      {{#if pattern.notes}}
        {{pattern.notes}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="info-button-td"><button type="button" class="modify-pattern-button" id="modify-pattern-button">Modify</button></td>
  </tr>

{{/each}}
