{{#each patterns as |pattern|}}
  {{log pattern}}
  <!-- {{> partial}} -->

  <tr data-id="{{pattern.id}}"
    data-thumbnail="{{pattern.thumbnail}}"
    data-date="{{pattern.date}}"
    data-info="{{pattern.info}}">
    <!-- This was removed from end of tr… -->
    <!-- data-toggle="modal" data-target="#modifyPatternModal" -->
    <td class="thumbnail-td">
      {{#if pattern.thumbnail}}
        {{pattern.thumbnail}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="date-td">
      {{#if pattern.modifiedAt}}
        {{pattern.modifiedAt}}
      {{else}}
        {{pattern.createdAt}}
      {{/if}}
    </td>
    <td class="info-td">
      {{#if pattern.info}}
        {{pattern.info}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="info-button-td"><button type="button" class="modify-pattern-button" id="modify-pattern-button">Modify</button></td>
    <td><button type="submit" class="delete-pattern-button" id="delete-button">Delete</button></td>
  </tr>

{{/each}}
