{{#each patterns as |pattern|}}
  {{log pattern}}
  <!-- {{> partial}} -->

  <tr data-id="{{pattern._id}}"
    data-index="{{@index}}"
    data-grid="{{pattern.grid}}"
    data-date="{{pattern.numeralDate}}"
    data-info="{{pattern.info}}"
    class="pattern-index-{{@index}}"
    id="pattern-index-{{@index}}">
    <!-- This was removed from end of tr… -->
    <!-- data-toggle="modal" data-target="#modifyPatternModal" -->
    <!-- <td class="id-td">
      {{#if pattern._id}}
        {{pattern._id}}
      {{else}}
        —
      {{/if}}
    </td> -->
    <!-- <td class="index-td">
      {{@index}}
    </td> -->
    <td class="date-td">
      {{#if pattern.twoDigitDate}}
        {{pattern.twoDigitDate}}
      {{else}}
        {{pattern.updatedAt}}
      {{/if}}
    </td>
    <td class="info-td">
      {{#if pattern.info}}
        {{pattern.info}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="info-button-td"><button type="button" class="modify-pattern-button" id="modify-pattern-button">Modify</button></td>
    <td><button type="submit" class="delete-pattern-button" id="delete-pattern-button">Delete</button></td>
  </tr>

{{/each}}
