{{#each patterns as |pattern|}}
  {{log pattern}}
  <!-- {{> partial}} -->

  <tr data-id="{{pattern._id}}"
    data-index="{{@index}}"
    data-grid="{{pattern.grid}}"
    data-date="{{pattern.numeralDate}}"
    data-info="{{pattern.info}}"
    class="pattern-index-row"
    id="pattern-index-{{@index}}">
    <td class="date-td">
      <span class="date-span">
        {{#if pattern.twoDigitDate}}
          {{pattern.twoDigitDate}}
        {{else}}
          {{pattern.updatedAt}}
        {{/if}}
      </span>
    <!-- </td>
    <td class="info-td"> -->
    <BR>
      {{#if pattern.info}}
        {{pattern.info}}
      {{else}}
        —
      {{/if}}
    </td>
    <!-- <td class="modify-pattern-button-td">
      <button type="button" class="modify-pattern-button" id="modify-pattern-button">
        Modify
      </button>
    </td> -->
    <td class="delete-pattern-button-td">
      <button type="submit" class="delete-pattern-button" id="delete-pattern-button">
        Delete
      </button>
    </td>
  </tr>

{{/each}}
